body {
    background-color: whitesmoke;
    font-family: Aria, sans-serif;
}

header {
    text-align: center;
    margin-top: 5px;
}

h1 {
    background-color: lavender;
    color: rebeccapurple;
    font-size: 50px;
    padding: 15px;
}

h2 {
    color: rebeccapurple;
    font-size: 30px;
    text-align: center;
}

.tags {
    font-family: monospace;
    background-color: blanchedalmond;
}

table {
    border: 2px solid rebeccapurple;
    border-collapse: collapse;
    width: 650px;
    margin: 0 auto;
    padding: 5px;
}

th {
    border: 0.5px solid rebeccapurple;
    padding: 2px;
    background-color: lavender;
}

td {
    border: 1px solid rebeccapurple;
    padding: 1px;
}